.dropdownList{
    width: 90%;
    position: absolute;
    top: 5.4rem;
    left:0;
    right:0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top:2rem;
}

.navList{
    margin:1.5rem;
    color:rgb(129, 129, 129);
    font-size:1.8rem;
    font-weight:700;
    text-transform: capitalize;

}

.navList:hover{
    color:rgb(46, 46, 46);
}

.freeBtn{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding:15px;
    background-color: transparent;
    border:1px solid lightgray;
    color:rgb(46, 46, 46);
    outline: none;
    font-size:16px;
    font-weight:700;
    margin:2rem;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.freeBtn:hover{
    background-color: rgb(46, 46, 46);
    color:white;
    
}