.navBar{
    background-color: transparent;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;

}

@media (min-width:1200px) {
    .navBar{
        padding: 2% 5%; 
        justify-content: center;
        gap:4rem;  
    }

    
}


.logo{
    padding:25px 0;
}

.navListButton{
    outline: none;
    border:none;
    background-color: transparent;
    cursor: pointer;
    width:fit-content;
}

.bookBtn{
    width:fit-content;
}