.infoSec{
    width:90%;
    max-width: 33rem;
}



.btnSec{
    display: flex;
    flex-direction: column;
    gap:1rem;

}

.imgSection{
    margin-top:3rem;
    min-height: 70vh;
    display: grid;
    place-items: center;
    width:100%;
    max-width: 50rem;
  
 }


 .images{
    width:80%;
   display: grid;
   place-items: center;
   position: relative;
 
 }

 .images img{
    width:100%;
 }


  .gloves, .bottle{
    position: absolute;
    opacity: 0;
   
}

.mainImg{
    position: relative;
    width: 100%;
    z-index:5;
  
}


.bottle{ 
    width:30%; 
    right:17%;
    top:-15%;
    
  
}

.gloves{  
    width:30%;
    left:17%;
    top:-15%;
  
}




@media (min-width:990px){
    
   
    .btnSec{
 
        flex-direction: row;       
    } 
    .btnSec button{
        width:50%;
    }


} 